# Source
src/
*.ts
!*.d.ts

# Sub-projects
docs/
www/

# Config
tsconfig.json
rollup.config.js
.prettierrc
.prettierignore
.editorconfig
commitlint.config.js

# Git
.git/
.gitignore
.gitattributes

# CI/CD
.github/

# Development
node_modules/
*.log
.DS_Store

# Map files
*.map

# Test
test/
*.test.ts
*.spec.ts

# IDE
.vscode/
.idea/

# Husky
.husky/

# Changelog
CHANGELOG.md
